body {
  font-family: sans-serif;
  text-align: center;
  background-color: #fff7ed;
  padding: 20px;
}

button {
  font-size: 18px;
  padding: 10px 20px;
  margin: 10px;
  background-color: #f5c264;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background-color: #ffc107;
}